@{
    ViewData["Title"] = "Home Page";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Welcome To Our Laundery Services</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>